#########################
# Node
#########################
node_modules/

#########################
# Environment Files
#########################
.env
.env.*
services/*/.env

#########################
# Upload Folders
#########################
services/upload/uploads/
services/upload/thumbnails/
services/upload/streams/

#########################
# Logs
#########################
*.log

#########################
# System Files
#########################
.DS_Store
Thumbs.db
